
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image and Video Processor</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .video-range {
            width: 100%;
          accent-color: transparent; /* Pre istotu */
          background: none; /* Odstráni predvolené farby */
        }

        .video-range::-webkit-slider-runnable-track {
          background: #ddd; /* Nastaví len neutrálnu farbu bez modrého zvýraznenia */
        }

        .video-range::-moz-range-progress {
          background: transparent; /* Odstráni farebnú výplň v Mozille */
        }
        #redirect-button {
            width: 100%;
            margin-top: 10px;
            padding: 8px 16px;
            background-color: #036fde;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        .range-container {
            position: relative;
            width: 100%;
        }

        /* Štýlovanie range inputu */
        input[type="range"] {
            width: 100%;
            -webkit-appearance: none;
            appearance: none;
            height: 8px;
            background: #ddd;
            border-radius: 5px;
            outline: none;
            transition: background 0.3s;
            position: relative;
            z-index: 2;
        }

        input[type="range"]:hover {
            background: #bbb;
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            background: #007bff;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s;
            position: relative;
            z-index: 3;
        }

        input[type="range"]::-moz-range-thumb {
            width: 20px;
            height: 20px;
            background: #007bff;
            border-radius: 50%;
            cursor: pointer;
        }

        /* Pohyblivá zvislá čiara (iba dole) */
        .vertical-line {
            position: absolute;
            top: 20px; /* Posunutie pod slider */
            width: 1px;
            height: 90px; /* Dlhšia čiara */
            background: #007bff;
            opacity: 1;
        }

    </style>

</head>
<body class="bg-light">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 border-end">
                <h2 class="mb-3">Upload video or image</h2>

                <!-- Video upload form and model/prompt form together -->
                <form method="POST" enctype="multipart/form-data" id="upload-form">
                    <input type="file" name="file" class="form-control mb-3" id="file-input" {% if filename %} {% endif %} required>
                    <button class="btn btn-primary w-100" id="upload"type="submit" {% if filename %} {% endif %}>Upload</button>
                </form>

                {% if filename %}
                    <div class="mt-4">
                        {% if filename.endswith(('mp4', 'mov', 'avi')) %}
                            <video class="img-fluid" id="video" controls style="width: 100%">
                                <source src="{{ url_for('static', filename='uploads/' + filename) }}" type="video/mp4" >
                                Your browser does not support the video tag.
                            </video>

                        {% else %}
                            <img src="{{ url_for('static', filename='uploads/' + filename) }}" class="img-fluid" alt="Uploaded Image" style="width: 100%">
                        {% endif %}
                    </div>
                {% endif %}


                {% if all_timelines_prompt %}
                    <h3 class="mt-4">Visualization of Results</h3>
                    {% for img, prompt_text in all_timelines_prompt %}
                        <div class="mb-4">
                            <p><strong>Prompt:</strong> {{ prompt_text[0] }}: {{ prompt_text[1] }}</p>

                            <div class="range-container">
                                <div class="vertical-line" id="verticalLine"></div>
                                <input type="range" id="video-range" class="video-range" min="0" max="100" value="0" step="1">
                            </div>

                            <img src="{{ img }}" alt="Timeline Visualization" class="img-fluid my-2">
                        </div>
<!--                        <div class="mb-4">-->
<!--                            <p><strong>Prompt:</strong> {{ prompt_text[0] }}: {{ prompt_text[1] }}</p>-->
<!--                            <input type="range" id="video-range" class="video-range" min="0" max="100" value="0" step="1">-->
<!--                            <img src="{{ img }}" alt="Timeline Visualization" class="img-fluid my-2">-->
<!--                        </div>-->
<!--                        <div class="range-container">-->
<!--                            <div class="vertical-line" id="verticalLine"></div>-->
<!--                            <input type="range" id="rangeInput" min="0" max="100" value="50">-->
<!--                        </div>-->
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-md-5">
                <h2>Model and Prompt</h2>
                <!-- Model and prompt form -->
                <form method="POST">
                    <input type="hidden" name="filename" value="{{ filename }}">

                    <label for="model" class="form-label">Choose Model:</label>
                    <select id="model" name="model" class="form-select mb-3" required onchange="updateTasks()">
                        <option value="">Choose model</option>
                        <option value="florence2">Florence2</option>
                        <option value="florence2ft">Florence2FT</option>
                        <option value="paligemma">PaliGemma</option>
                        <option value="paligemmaft">PaliGemmaFT</option>
                    </select>


                    <div id="prompts-container">
                        <div class="mb-3">
                            <label for="prompt_type-1" class="form-label">Choose Prompt Type:</label>
                            <select id="prompt_type-1" name="prompt_type-1" class="form-select" required>
                            </select>
                        </div>

                        <div class="mb-3" id="prompt-text-group">
                            <label for="prompt_text-1" class="form-label">Enter Prompt Text:</label>
                            <input type="text" id="prompt_text-1" name="prompt_text-1" class="form-control">
                        </div>
                    </div>

                    <button type="button" class="btn btn-outline-primary w-100 mb-3" id="add-prompt-btn">Add Another Prompt</button>

                    {% if show_button %}
                        <br>
                        <button id="redirect-button" type="button">Go to Detection Results</button>
                        <br>
                    {% endif %}

                    <!-- Checkbox -->
                    <input class="form-check-input" type="checkbox" id="myCheckbox" name="myCheckbox">
                    <label class="form-check-label" for="myCheckbox">Bart or CLIP Classification</label>

                    <div class="form-check" id="switchContainer" style="display: none;">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioBart" value="flexRadioBart">
                        <label class="form-check-label" for="flexRadioBart">BART</label>
                    </div>
                    <div class="form-check" id="switchContainer1" style="display: none;">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioClip" value="flexRadioClip">
                        <label class="form-check-label" for="flexRadioClip">CLIP</label>
                    </div>
                    <br>

                    <button class="btn btn-primary w-100" id="submit-button" type="submit" {% if not filename %} disabled {% endif %}>Submit</button>

                    <div id="loading-message" class="alert alert-info text-center mt-3" style="display: none;">
                        We're working on identifying the crime...
                    </div>
                </form>
                {% if error %}
                    <div class="alert alert-danger mt-3">
                        {{ error }}
                    </div>
                {% endif %}

                {% if image_process_all %}
                    <h3 class="mt-4">Frame Results</h3>
                    {% if model == "paligemma"%}
                        <ul class="list-group">
                            {% for prompt_type, result_video in image_process_all %}
                                <li class="list-group-item">Prompt: {{prompt_type}}: {{result_video}}</li>
                            {% endfor %}
                        </ul>
                    {% elif model == "paligemmaft"%}
                        <ul class="list-group">
                            {% for prompt_type, result_video in image_process_all %}
                                <li class="list-group-item">Prompt: {{prompt_type}}: {{result_video}}</li>
                            {% endfor %}
                        </ul>
                    {% elif model == "florence2" %}
                        <ul class="list-group">
                            {% for prompt_type, result_video in image_process_all %}
                                {% if result_video is string %}
                                    <li class="list-group-item">Prompt: {{ prompt_type }} - {{ result_video }}</li>
                                {% else %}
                                    {% if result_video.get('\u003cCAPTION\u003e') %}
                                        <li class="list-group-item">Prompt: {{prompt_type}} - {{ result_video.get('\u003cCAPTION\u003e') }}</li>
                                    {% elif result_video.get('\u003cMORE_DETAILED_CAPTION\u003e') %}
                                        <li class="list-group-item">Prompt: {{ prompt_type}} - {{ result_video.get('\u003cMORE_DETAILED_CAPTION\u003e') }}</li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% elif model == "florence2ft" %}
                        <ul class="list-group">
                            {% for prompt_type, result_video in image_process_all %}
                                {% if result_video is string %}
                                    <li class="list-group-item">Prompt: {{ prompt_type }} - {{ result_video }}</li>
                                {% else %}
                                    {% if result_video.get('\u003cCAPTION\u003e') %}
                                        <li class="list-group-item">Prompt: {{prompt_type}} - {{ result_video.get('\u003cCAPTION\u003e') }}</li>
                                    {% elif result_video.get('\u003cMORE_DETAILED_CAPTION\u003e') %}
                                        <li class="list-group-item">Prompt: {{ prompt_type}} - {{ result_video.get('\u003cMORE_DETAILED_CAPTION\u003e') }}</li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {%endif%}
                {%endif%}




                {% if frame_results %}
                    <h3 class="mt-4">Frame Results</h3>
                    {% if model == "paligemma"%}
                        <ul class="list-group">
                            {% for result, time in frame_results_with_time %}
                                <li class="list-group-item">Time: {{ time | round(2) }}s - { result }}</li>
                            {% endfor %}
                        </ul>
                    {% elif model == "paligemmaft"%}
                        <ul class="list-group">
                            {% for result, time in frame_results_with_time %}
                                <li class="list-group-item">Time: {{ time | round(2) }}s - { result }}</li>
                            {% endfor %}
                        </ul>
                    {% elif model == "florence2" %}
                        <ul class="list-group">
                            {% for result, time in frame_results_with_time %}
                                {% if result.get('\u003cCAPTION\u003e') %}
                                    <li class="list-group-item">Time: {{ time | round(2) }}s - {{ result.get('\u003cCAPTION\u003e') }}</li>
                                {% elif result.get('<VQA>') == prompt_text %}
                                    <li class="list-group-item">Time: {{ time | round(2) }}s{{ result.get('<VQA>') | e }}</li>
                                {% elif result.get('\u003cOD\u003e') %}
                                    <li class="list-group-item">Time: {{ time | round(2) }}s{{ result.get('\u003cOD\u003e') }}</li>
                                {% elif result.get('\u003cMORE_DETAILED_CAPTION\u003e') %}
                                    <li class="list-group-item">Time: {{ time | round(2) }}s{{ result.get('\u003cMORE_DETAILED_CAPTION\u003e') }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% elif model == "florence2ft" %}
                        <ul class="list-group">
                            {% for result, time in frame_results_with_time %}
                                {% if result.get('\u003cCAPTION\u003e') %}
                                    <li class="list-group-item">Time: {{ time | round(2) }}s - {{ result.get('\u003cCAPTION\u003e') }}</li>
                                {% elif result.get('<VQA>') == prompt_text %}
                                    <li class="list-group-item">Time: {{ time | round(2) }}s{{ result.get('<VQA>') | e }}</li>
                                {% elif result.get('\u003cOD\u003e') %}
                                    <li class="list-group-item">Time: {{ time | round(2) }}s{{ result.get('\u003cOD\u003e') }}</li>
                                {% elif result.get('\u003cMORE_DETAILED_CAPTION\u003e') %}
                                    <li class="list-group-item">Time: {{ time | round(2) }}s{{ result.get('\u003cMORE_DETAILED_CAPTION\u003e') }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="text-danger">Unsupported model selected.</p>
                    {% endif %}
                {% endif %}

                {% if all_classify %}
                    {% set classify_data = all_classify[0] %}
                    <h3 class="mt-4">Classification Results</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Label</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(classify_data['labels']|length) %}
                                <tr>
                                    <td>{{ classify_data['labels'][i] }}</td>
                                    <td>{{ classify_data['scores'][i] | round(3) }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                {% if avg_scores %}
                    <h3 class="mt-4">Classification Results</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Label</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for label, score in avg_scores.items() %}
                            <tr>
                                <td>{{ label }}</td>
                                <td>{{ "%.4f"|format(score) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        let promptCount = 1;

        function updateTasks() {
            const model = document.getElementById("model").value;
            const promptType = document.getElementById(`prompt_type-${promptCount}`);

            promptType.innerHTML = '<option value="">-- Vyber úlohu --</option>';

            if (model === "paligemma" || model === "paligemmaft") {
                promptType.innerHTML = `
                    <option value="">Choose prompt</option>
                    <option value="detect">Detect</option>
                    <option value="answer">Answer</option>
                    <option value="caption">Caption</option>
                    <option value="describe">Describe</option>
                `;
            } else if (model === "florence2" || model === "florence2ft") {
                promptType.innerHTML = `
                    <option value="">Choose prompt</option>
                    <option value="CAPTION_TO_PHRASE_GROUNDING">Detect</option>
                    <option value="VQA">Answer</option>
                    <option value="CAPTION">Caption</option>
                    <option value="MORE_DETAILED_CAPTION">Describe</option>
                `;
            }
        }

        // Function to remove a prompt
        function removePrompt(promptId) {
            const promptElement = document.getElementById(promptId);
            promptElement.remove();
        }

        document.getElementById("add-prompt-btn").addEventListener("click", function() {
            promptCount++;
            const container = document.getElementById("prompts-container");
            const newPrompt = document.createElement("div");
            newPrompt.classList.add("mb-3");
            newPrompt.id = `prompt-${promptCount}`;
            newPrompt.innerHTML = `
                <label for="prompt_type-${promptCount}" class="form-label">Choose Prompt Type:</label>
                <select id="prompt_type-${promptCount}" name="prompt_type-${promptCount}" class="form-select" required></select>
                <br>
                <label for="prompt_text-${promptCount}" class="form-label">Enter Prompt Text:</label>
                <input type="text" id="prompt_text-${promptCount}" name="prompt_text-${promptCount}" class="form-control">
                <button type="button" class="btn btn-danger mt-2" onclick="removePrompt('prompt-${promptCount}')">Delete</button>
            `;
            container.appendChild(newPrompt);
            updateTasks();
        });

        // document.addEventListener("DOMContentLoaded", function() {
        //     updateTasks();
        // });
    </script>
    <script>
        // Získame odkaz na video a posúvač
        const video = document.getElementById('video');
        const range = document.getElementById('video-range');
        const colorsContainer = document.getElementById('range-colors');
        const ranges = document.querySelectorAll('.video-range');

        // Pri zmene hodnoty range aktualizujeme farby
        range.addEventListener('input', function() {
            const value = range.value;
            const segments = colorsContainer.children;

            // Pre každý segment (div) zmeníme jeho farbu podľa aktuálneho indexu range
            for (let i = 0; i < segments.length; i++) {
                if (i <= value) {
                    segments[i].style.opacity = 1;  // Farba zostáva viditeľná
                } else {
                    segments[i].style.opacity = 1;  // Nepozeráme na tento segment
                }
            }
        });

        // Na začiatku nastavíme správnu viditeľnosť segmentov
        range.dispatchEvent(new Event('input'));


        // Funkcia, ktorá synchronizuje posúvač s videom
        video.addEventListener('timeupdate', function() {
            const value = (video.currentTime / video.duration) * 100;
            ranges.forEach(range => {
                range.value = value; // Nastavíme hodnotu posúvača podľa aktuálneho času videa
            });
        });

        // Funkcia, ktorá synchronizuje video s posúvačom
        ranges.forEach(range => {
            range.addEventListener('input', function() {
                const value = range.value;
                video.currentTime = (value / 100) * video.duration; // Nastavíme čas videa podľa hodnoty posúvača
            });
        });


        // // Funkcia, ktorá synchronizuje posúvač s videom
        // video.addEventListener('timeupdate', function() {
        //     const value = (video.currentTime / video.duration) * 100;
        //     range.value = value; // Nastavíme hodnotu posúvača podľa aktuálneho času videa
        // });
        //
        // // Funkcia, ktorá synchronizuje video s posúvačom
        // range.addEventListener('input', function() {
        //     const value = range.value;
        //     video.currentTime = (value / 100) * video.duration; // Nastavíme čas videa podľa hodnoty posúvača
        // });


    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Získaj všetky formuláre
            const forms = document.querySelectorAll("form");
            const loadingMessage = document.getElementById("loading-message");
            const submitButton = document.getElementById("submit-button");
            const uploadButton = document.getElementById("upload");
            const promptButton = document.getElementById("add-prompt-btn")
            const checkbox = document.getElementById("myCheckbox")
            // const switchContainer = document.getElementById("flexRadioClip");
            // const switchContainer1 = document.getElementById("flexRadioBart");


            // Pridáme event listener pre každý formulár
            forms.forEach(function(form) {
                form.addEventListener("submit", function(event) {
                    loadingMessage.style.display = "block"; // Zobrazí správu
                    submitButton.disabled = true; // Zablokuje tlačidlo
                    uploadButton.disabled = true;
                    promptButton.disabled = true;
                    checkbox.disabled = true;

                });
            });
        });
    </script>


    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const checkbox = document.getElementById("myCheckbox");
            const switchContainer = document.getElementById("switchContainer");
            const switchContainer1 = document.getElementById("switchContainer1");

            // Keď sa checkbox zmení (zaškrtne/odškrtne)
            checkbox.addEventListener("change", function() {
                if (checkbox.checked) {
                    switchContainer.style.display = "block"; // Zobraziť switch
                    switchContainer1.style.display = "block";
                } else {
                    switchContainer.style.display = "none";  // Skryť switch
                    switchContainer1.style.display = "none";
                }
            });
        });
    </script>
    <script>
        document.getElementById("redirect-button")?.addEventListener("click", function() {
            window.open("/detection-results", "_blank"); // Otvorí novú stránku v novom tabe
        });
    </script>

    <script>
        const rangeInputs = document.querySelectorAll('.video-range');
        const containers = document.querySelectorAll('.range-container');

        function updateAllLines(value) {
            containers.forEach((container, index) => {
                const rangeInput = container.querySelector('.video-range');
                const verticalLine = container.querySelector('.vertical-line');

                // Nastav rovnakú hodnotu slidera
                rangeInput.value = value;

                const min = parseInt(rangeInput.min);
                const max = parseInt(rangeInput.max);
                const val = parseInt(rangeInput.value);

                const percent = (val - min) / (max - min);
                const sliderWidth = rangeInput.clientWidth;
                const thumbWidth = 20;

                const position = percent * (sliderWidth - thumbWidth) + (thumbWidth / 2);
                verticalLine.style.left = `${position}px`;
            });
        }

        // Pridáme event listener na každý slider
        rangeInputs.forEach(input => {
            input.addEventListener('input', (e) => {
                const newValue = e.target.value;
                updateAllLines(newValue);
            });
        });

        // Inicializácia všetkých čiar
        updateAllLines(0);
    </script>
    <script>
        const promptTypeSelect = document.getElementById('prompt_type-1');
        const promptTextGroup = document.getElementById('prompt-text-group');

        function togglePromptText() {
            const selected = promptTypeSelect.value;
            if (selected === 'detect' || selected === 'answer' || selected === 'VQA' || selected === 'CAPTION_TO_PHRASE_GROUNDING') {
                promptTextGroup.style.display = 'block';
            } else {
                promptTextGroup.style.display = 'none';
            }
        }

        // Initial check
        togglePromptText();

        // Listen for changes
        promptTypeSelect.addEventListener('change', togglePromptText);
    </script>

</body>
</html>




